@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-display: swap;
  }
  @font-face {
    font-family: 'Inria Sans';
    font-display: swap;
  }
  @font-face {
    font-family: 'Fira Code';
    font-display: swap;
  }
}
