---
import Layout from '../layouts/Layout.astro'
import { baseUrl } from '../constants';
---

<Layout
 title="Michael Leyman"
 description="Adventures in modern technology, open source, privacy, and life-long learning."
 permalink={baseUrl}
>
  <main>
    <h1>Michael</h1>
  </main>
</Layout>
